@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<body>
    <form action="/AboutUs/Index" method="post">
        <h1>Srirag Ramadugu</h1>
        <ul>
            <li>Worked on the Model component of the project.</li>
            <li>Analyzed all the model and scripted class code for all.</li>
            <li>Responsive in all the crucial decision work</li>
        </ul>
        <br />
        <h1>Jashwanth Gottipati</h1>
        <ul>
            <li>Worked on the Controller component of the project.</li>
            <li>Scripted the main logic of the controllers with respective to the data structures in Model part.</li>
            <li>Played crucial part in project management</li>
        </ul>
        <br />
        <h1>RaviTeja Dureddy</h1>
        <ul>
            <li>Worked on the View component of the project.</li>
            <li>Played crucial role in designing the website.</li>
            <li>Responsive in linking all the components and publishing to Cloud</li>
        </ul>
    </form>
</body>
</html>
